.commercial {
  background-color: black;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}
.commercial_item {
  background-color: black;
  display: flex;
  gap: 400px;
  align-items: center;
}
.commercial_item h4 {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 5px;
  text-align: center;
}
.commercial_item a {
  color: #ffffff;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.commercial_item_button{
    border:none;
    background-color: black;

}


.header_item_nav{
    display: flex;
    gap: 24px;
}

.header_item{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 96%;
    margin: 0 auto;
    margin-top: 24px;
    position: relative;
}

.header_item_icons{
    display: flex;
    align-items: center;
    gap: 14px;
}
.header_item_nav a{
text-decoration: none;
color: black;
font-weight: 5px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header_item_nav_otd{
    align-items: center;
    display: flex;
}

.header_item_search{
    position:relative;
    display: inline-block;
    align-items: center;
}

.header_item_search img{
    position: absolute;
    top: 14px;
    left: 15px;
}

.search_input{
    width: 540px;
    height: 48px;
    padding-left: 45px;
    border-radius: 50px;
    border: none;
    background-color: #F0F0F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.description{
    color: gray;
}

.shop_now{
    background-color: black;
    color: white;
    width: 210px;
    height: 52px;
    border-radius: 15%;
    border: none;
}

.home_item{
    display: flex;
    width: 1000px;
    width: 96%;
    margin: 0 auto;
    align-items: center;
    margin-top: -250px;
}

.home_item_content{
    margin-top : 20px;
}

.home_item_img{
    position: relative;
    position: relative;
}

.home_item_img_back{
    position: absolute;
    left: -700px;
    top: -114px;
    z-index: -1;
    width: 1437px;
}

.home_item_title{
    margin-top: 500px;
}

.home_item_img_star{
    position: absolute;
    right: -100px;
    z-index: 0;
}

.line{
    background-color: black;
    margin: 0 auto;
    margin-top: 105px;
    height: 122px;
    align-items: center;
}

.line_item{
    display: flex;
    gap:106px;
    align-items: center;
}

.line_item img {
    align-items: center;
    padding-top: 45px;
    padding-left: 15px;
}

.arrivals_item{
    display: flex;
    gap: 20px;
    align-items: center;
}

.arrivals{
    margin: 0 auto;
    width: 95.5%;
}
.arrivals_button{
    margin: 0 auto;
    width: 21%;
}

.View {
    width: 218px;
    height: 52px;
    border-radius: 5%;
    background-color: #F0F0F0;
    border: 2px solid rgba(0,0,0, 0.1);
}

.sell{
    margin-top: 64px;
}

.sell_item{
    display: flex;
    gap: 20px;
}

.sell_button button{
    width: 218px;
    height: 52px;
    border-radius: 5%;
    background-color: #F0F0F0;
    border: 2px solid rgba(0,0,0, 0.1);
}

.sell_button{
    margin: 0 auto;
    width: 21%;
}

.browse_item{
    background-color: #F0F0F0;
    border-radius: 3%;
    padding: 70px;
}

.browse{
    margin: 0 auto;
    width: 90%;
    margin-top: 80px;
    
}

.first{
    gap: 20px;
    display: flex;
    margin-left: -38px;
}
.second{
    gap: 20px;
    display: flex;
    margin-top: 20px;
    margin-left: -38px;
}